/* * {
	border: 1px solid white;
} */

html {
	background-color: black;
	color: white;
	font-family: 'Roboto Mono', monospace;
	background-image: url('img/dungeon.jpg');
	background-size: cover;
}

h1 {
	margin-top: 10%;
	text-align: center;
}


.intro {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-evenly;
	margin-top: 10%;
}

.game-start {
	text-align: center;
}

.knight-character {
	width: 33%;
	margin-bottom: 10%
}

.orc-character {
	width: 33%;
	margin-bottom: 10%;
}

.knight {
	display: block;
	height: 100%;
	width: 100%;
	max-height: 300px;
	max-width: 150px;
	margin: 3% 5% 100px 8%;
}

.new-knight {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.orc {
	display: block;
	height: 100%;
	width: 80%;
	max-height: 300px;
	max-width: 300px;
	margin: 3% auto 100px auto;
	/* margin-left: auto;
	margin-right: auto; */
}

.hidden {
	display: none;
	visibility: hidden;
}

.game-buttons {
	text-align: center;
}

/* .battle-background {
	display: flex;
	align-items: end;
} */

.max-HP {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
	height: 20px;
	width: 200px;
	border-radius: 10px;
}

.defeated {
	visibility: hidden;
}

.battle-content {
	display: flex;
	justify-content: space-evenly;
	margin-top: 7%;
}

/* .battle-page {
	background-image: url('img/dungeon.jpg');
	background-size: cover;
} */

.battle-log {
	width: 500px;
	padding-left: 100px;
}

.knight-stats {
	list-style: none;
	text-align: center;
	padding: 0px;
}

.orc-stats {
	list-style: none;
	text-align: center;
	padding: 0px;
}

.log-list {
	list-style: none;
	padding: 0px;
	overflow: auto;
	height: 400px;
}

.current-HP {
	background-color: green;
	height: 20px;
	border-radius: 10px;
}